# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/
dist/

# env
.env
.env*.local
!.env.example

# vercel
.vercel

# logs
npm-debug.log*
*.log

# editor / os
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo

# drizzle
apps/api/drizzle/meta/

.vercel
.env*

prompt.md
